In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2016)

In [2]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd2016 = pd.DataFrame(census_data)

# Column Reordering
census_pd2016= census_pd2016.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd2016["Poverty Rate"] = 100 * \
    census_pd2016["Poverty Count"].astype(
        int) / census_pd2016["Population"].astype(int)

# Final DataFrame
census_pd2016 = census_pd2016[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd2016['Year'] = '2016'








# Visualize
print(len(census_pd2016))

census_pd2016=census_pd2016.loc[census_pd2016['Zipcode'].isin(['78702','78704','78731','78746','78751']) ]

census_pd2016.index = range(5)
census_pd2016.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Year
0,78702,22617.0,33.5,48174.0,27624.0,5481.0,24.233983,2016
1,78704,46474.0,32.2,62283.0,43496.0,7332.0,15.776563,2016
2,78731,27401.0,38.3,83438.0,60889.0,2438.0,8.897485,2016
3,78746,27971.0,41.7,132551.0,82173.0,1247.0,4.458189,2016
4,78751,14648.0,29.4,51567.0,39807.0,3097.0,21.142818,2016

In [3]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels

c = Census(api_key, year =2015)
census_data2015 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd2015 = pd.DataFrame(census_data2015)

# Column Reordering
census_pd2015 = census_pd2015.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"}
                                    )

# Add in Poverty Rate (Poverty Count / Population)
census_pd2015["Poverty Rate"] = 100 * \
    census_pd2015["Poverty Count"].astype(
        int) / census_pd2015["Population"].astype(int)

# Final DataFrame
census_pd2015 = census_pd2015[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd2015['Year'] = '2015'

# Visualize


census_pd2015=census_pd2015.loc[census_pd2015['Zipcode'].isin(['78702','78704','78731','78746','78751']) ]
census_pd2015.index = range(6,11)
census_pd2015.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Year
6,78702,21477.0,34.2,41016.0,24664.0,5730.0,26.679704,2015
7,78704,44668.0,32.0,58601.0,41560.0,7539.0,16.877854,2015
8,78731,26595.0,39.0,82892.0,59754.0,2446.0,9.197218,2015
9,78746,27928.0,41.5,128184.0,80898.0,1490.0,5.335148,2015
10,78751,14441.0,29.0,45726.0,37171.0,3433.0,23.772592,2015

In [4]:
c = Census(api_key, year =2014)
census_data2014 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd2014 = pd.DataFrame(census_data2014)

# Column Reordering
census_pd2014 = census_pd2014.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"}
                                    )

# Add in Poverty Rate (Poverty Count / Population)
census_pd2014["Poverty Rate"] = 100 * \
    census_pd2014["Poverty Count"].astype(
        int) / census_pd2014["Population"].astype(int)

# Final DataFrame
census_pd2014 = census_pd2014[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd2014['Year'] = '2014'

# Visualize


census_pd2014=census_pd2014.loc[census_pd2014['Zipcode'].isin(['78702','78704','78731','78746','78751']) ]
census_pd2014.index = range(12,17)
census_pd2014.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Year
12,78702,21855.0,33.1,37690.0,21922.0,6510.0,29.787234,2014
13,78704,42770.0,32.0,52306.0,38699.0,7815.0,18.272153,2014
14,78731,26412.0,39.5,79315.0,57570.0,2405.0,9.105710,2014
15,78746,27960.0,40.9,128556.0,78195.0,1518.0,5.429185,2014
16,78751,13838.0,29.1,41279.0,36020.0,3391.0,24.504986,2014

In [5]:
c = Census(api_key, year =2013)
census_data2013 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd2013 = pd.DataFrame(census_data2013)

# Column Reordering
census_pd2013 = census_pd2013.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"}
                                    )

# Add in Poverty Rate (Poverty Count / Population)
census_pd2013["Poverty Rate"] = 100 * \
    census_pd2013["Poverty Count"].astype(
        int) / census_pd2013["Population"].astype(int)

# Final DataFrame
census_pd2013 = census_pd2013[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd2013['Year'] = '2013'

# Visualize


census_pd2013=census_pd2013.loc[census_pd2013['Zipcode'].isin(['78702','78704','78731','78746','78751'])]
census_pd2013.index = range(17,22)
census_pd2013.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Year
17,78702,21655.0,32.3,36197.0,19715.0,6592.0,30.441007,2013
18,78704,41999.0,31.6,50930.0,37301.0,8160.0,19.429034,2013
19,78731,25575.0,39.4,75269.0,56169.0,2530.0,9.892473,2013
20,78746,27506.0,41.7,128936.0,76782.0,1506.0,5.475169,2013
21,78751,14045.0,29.3,39032.0,33636.0,3481.0,24.784621,2013

In [6]:
result = census_pd2016.append(census_pd2015)
print(len(result))

frames = [census_pd2016, census_pd2015,census_pd2014,census_pd2013]
result = pd.concat(frames)

10

In [7]:
result

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Year
0,78702,22617.0,33.5,48174.0,27624.0,5481.0,24.233983,2016
1,78704,46474.0,32.2,62283.0,43496.0,7332.0,15.776563,2016
2,78731,27401.0,38.3,83438.0,60889.0,2438.0,8.897485,2016
3,78746,27971.0,41.7,132551.0,82173.0,1247.0,4.458189,2016
4,78751,14648.0,29.4,51567.0,39807.0,3097.0,21.142818,2016
6,78702,21477.0,34.2,41016.0,24664.0,5730.0,26.679704,2015
7,78704,44668.0,32.0,58601.0,41560.0,7539.0,16.877854,2015
8,78731,26595.0,39.0,82892.0,59754.0,2446.0,9.197218,2015
9,78746,27928.0,41.5,128184.0,80898.0,1490.0,5.335148,2015
10,78751,14441.0,29.0,45726.0,37171.0,3433.0,23.772592,2015
12,78702,21855.0,33.1,37690.0,21922.0,6510.0,29.787234,2014
13,78704,42770.0,32.0,52306.0,38699.0,7815.0,18.272153,2014
14,78731,26412.0,39.5,79315.0,57570.0,2405.0,9.105710,2014
15,78746,27960.0,40.9,128556.0,78195.0,1518.0,5.429185,2014
16,78751,13838.0,29.1,41279.0,36020.0,3391.0,24.504986,2014
17,78702,21655.0,32.3,36197.0,19715.0,6592.0,30.441007,2013
18,78704,41999.0,31.6,50930.0,37301.0,8160.0,19.429034,2013
19,78731,25575.0,39.4,75269.0,56169.0,2530.0,9.892473,2013
20,78746,27506.0,41.7,128936.0,76782.0,1506.0,5.475169,2013
21,78751,14045.0,29.3,39032.0,33636.0,3481.0,24.784621,2013

In [8]:
result.sort_values(by=['Zipcode','Year'])

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Year
17,78702,21655.0,32.3,36197.0,19715.0,6592.0,30.441007,2013
12,78702,21855.0,33.1,37690.0,21922.0,6510.0,29.787234,2014
6,78702,21477.0,34.2,41016.0,24664.0,5730.0,26.679704,2015
0,78702,22617.0,33.5,48174.0,27624.0,5481.0,24.233983,2016
18,78704,41999.0,31.6,50930.0,37301.0,8160.0,19.429034,2013
13,78704,42770.0,32.0,52306.0,38699.0,7815.0,18.272153,2014
7,78704,44668.0,32.0,58601.0,41560.0,7539.0,16.877854,2015
1,78704,46474.0,32.2,62283.0,43496.0,7332.0,15.776563,2016
19,78731,25575.0,39.4,75269.0,56169.0,2530.0,9.892473,2013
14,78731,26412.0,39.5,79315.0,57570.0,2405.0,9.105710,2014
8,78731,26595.0,39.0,82892.0,59754.0,2446.0,9.197218,2015
2,78731,27401.0,38.3,83438.0,60889.0,2438.0,8.897485,2016
20,78746,27506.0,41.7,128936.0,76782.0,1506.0,5.475169,2013
15,78746,27960.0,40.9,128556.0,78195.0,1518.0,5.429185,2014
9,78746,27928.0,41.5,128184.0,80898.0,1490.0,5.335148,2015
3,78746,27971.0,41.7,132551.0,82173.0,1247.0,4.458189,2016
21,78751,14045.0,29.3,39032.0,33636.0,3481.0,24.784621,2013
16,78751,13838.0,29.1,41279.0,36020.0,3391.0,24.504986,2014
10,78751,14441.0,29.0,45726.0,37171.0,3433.0,23.772592,2015
4,78751,14648.0,29.4,51567.0,39807.0,3097.0,21.142818,2016

In [9]:
df01=result.loc[result['Zipcode'] == '78701']

In [10]:
df01.sort_values(by=['Year'])
df01.head()

Empty DataFrame
Columns: [Zipcode, Population, Median Age, Household Income, Per Capita Income, Poverty Count, Poverty Rate, Year]
Index: []

In [11]:
result.to_csv("cencus_combined.csv")